@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: $text-font;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

.links {
    text-decoration: none;
}