@import './variables.scss';

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin align-color {
    color: $text-color;
    text-align: justify;
}

@mixin font-color {
    font-size: 0.9rem;
    color: $text-color;
}

@mixin tablet-medium {
    @media (min-width: 650px) {
      @content;
    }
}

@mixin tablet-large {
    @media (min-width: 800px) {
      @content;
    }
}

@mixin desktop-medium {
    @media (min-width: 1000px) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: 1200px) {
        @content;
    }
}