@import '../variables.scss';
@import '../mixins.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    border-bottom: 1px solid $blue-tone2;
    background-color: #ffffff;

    @include desktop-medium {
        height: 100px;
    }
    img {
        width: 68px;
        height: 65.49px;
        margin-left: 1rem;

        @include tablet-medium {
            margin-left: 3rem;
        }

        @include desktop-medium {
            width: 75px;
            height: 73.49px;
        }

        @include desktop-large {
            margin-left: 6rem;
        }
    }
    .menu-container {
        .list-menu {
            display: flex;
            justify-content: space-around;
            height: 100%;

            @include tablet-medium {
                margin-right: 2rem;
            }

            @include desktop-large {
                margin-right: 4rem;
            }
            li {
                margin-right: 1.2rem;

                @include tablet-medium {
                    margin-right: 2rem;
                }
            }
            .menu-items {
                @include flex-column;
                align-items: center;
                color: #a0a0a0;
                &.active { 
                    color: $blue-tone3;
                }
                .icon-item {
                    font-size: 30px;
                }
            }
        }
    }
}
