@import '../variables.scss';

.header {
    display: flex;
    align-items: center;
    height: 87px;
    border-bottom: 1px solid $blue-tone2;
    img {
        width: 68px;
        height: 65.49px;
        margin-left: 1rem;
    }
}
