@import '../variables.scss';
@import '../mixins.scss';

.home {
    margin-bottom: 7.5rem;
    .posts {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @include flex-column;
        align-items: center;
        margin-top: 2.5rem;
        gap: 2rem;
        .post {
            // display: flex;
            // flex-direction: column;
            // @include flex-column;
            height: 423px;
            width: 314px;
            border: 1px solid $blue-tone3;
            .img {
                img {
                    height: 218px;
                    width: 100%;
                }
            }
            .content {
                // display: flex;
                // flex-direction: column;
                @include flex-column;
                h1 {
                    font-size: 1.25rem;
                    padding: 0 1.07rem 0.5rem 1.07rem;
                    @include align-color;
                    // color: $text-color;
                    // text-align: justify;
                }
                p {
                    font-size: 0.875rem;
                    padding: 0 1.07rem 1.125rem 1.07rem;
                    @include align-color;
                    // color: $text-color;
                    // text-align: justify;
                }
                // .links {
                //     color: $text-color;
                // }
                .btn-ler-mais {
                    align-self: flex-end;
                    font-size: 0.875rem;
                    padding: 0.125rem 0.625rem;
                    border: 1px solid $blue-tone3;
                    border-radius: 5px;
                    margin-right: 0.82rem;
                    color: $text-color;
                }
            }
        }
    }
}