@import '../variables.scss';
@import '../mixins.scss';

.home {
    .posts {
        @include flex-column;
        align-items: center;
        padding-top: 2.5rem;
        gap: 2rem;

        @include tablet-medium {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 2.5rem;
            gap: 1.5rem;
        }

        @include tablet-large {
            padding-top: 3rem;
            gap: 3rem;
        }

        @include desktop-medium {
            @include flex-column;
        }
        .post {
            height: 423px;
            width: 314px;
            border: 1px solid $blue-tone3;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);

            @include tablet-medium {
                width: 300px;
            }
            @include desktop-medium {
                display: flex;
                height: 332px;
                width: 918px;
            }
            .img {
                img {
                    height: 218px;
                    width: 100%;
                    border-radius: 10px 10px 0 0;

                    @include desktop-medium {
                        height: 330px;
                        width: 459px;
                        border-radius: 10px 0 0 10px;
                    }
                }
            }
            .content {
                @include flex-column;
                h1 {
                    font-size: 1.25rem;
                    padding: 0 1.07rem 0.5rem 1.07rem;
                    @include align-color;

                    @include desktop-medium {
                        font-size: 1.62rem;
                        padding: 1.125rem;
                    }
                }
                p {
                    font-size: 0.875rem;
                    padding: 0 1.07rem 1.125rem 1.07rem;
                    @include align-color;

                    @include desktop-medium {
                        font-size: 1rem;
                        padding: 0 1.125rem 2.5rem 1.125rem;
                    }
                }
                .btn-ler-mais {
                    align-self: flex-end;
                    font-size: 0.875rem;
                    padding: 0.125rem 0.625rem;
                    border: 1px solid $blue-tone3;
                    border-radius: 5px;
                    margin-right: 0.82rem;
                    color: $text-color;

                    @include desktop-medium {
                        font-size: 1rem;
                        padding: 0.375rem 1.125rem;
                    }
                }
            }
        }
    }
}