@import '../variables.scss';
@import '../mixins.scss';

.postage {
    @include flex-column;
    align-items: center;
    margin-bottom: 7.5rem;
    .content {
        width: 331px;
        margin-top: 2.5rem;
        align-self: center;
        img {
            height: 218px;
            width: 100%;
            border-radius: 5px;
        }
        .top {
            display: flex;
            justify-content: space-between;
            .info {
                span {
                    @include font-color;
                    font-weight: 600;
                }
                p {
                    @include font-color;
                }
            }
            .options {
                display: flex;
                gap: 1rem;
                margin-top: 0.44rem;
                .icon-options {
                    font-size: 23px;
                    color: $pink-tone;
                }
            }
        }
        .post-content {
            h1 {
                font-size: 1.25rem;
                padding: 1.32rem 0 1rem 0;
                @include align-color;
            }
            p {
                font-size: 0.94rem;
                @include align-color;
            }
        }
        hr {
            border: none;
            height: 1px;
            background-color: $text-color;
            margin: 1.75rem 0;
        }
    }
}